/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  text-align: center;
  margin-bottom: 0;
}
h1 {
  text-shadow: rgb(51, 88, 255) -1px 1px, rgb(51, 88, 255) -2px 2px,
    rgb(51, 88, 255) -3px 3px, rgb(51, 88, 255) -4px 4px, #f83 -5px 5px;
  color: #060;
  letter-spacing: 1px;
}

.texto-naranja {
  font-weight: 300;
  color: orange;
}

.texto-blanco {
  font-weight: 700;
  color: #fff;
}

.texto-negro {
  color: #000;
}
/* ------------------------- */
/* Estilos para la cabecera */
/* ------------------------- */
.header {
  background: url(../media/bg-imagen-new.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.portafolio-item {
  cursor: pointer;
}
.portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}
.portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}
/* ------------------------- */
/* Estilo de los modales     */
/* ------------------------- */

.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
  transition: none;
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  outline: 0;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #1abc9c;
  opacity: 1;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
