/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
@font-face {
  font-family: "roboto";
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: "oswald";
  src: url(../font/Oswald-VariableFont_wght.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  text-align: center;
  margin-bottom: 0;
}
h1 {
  text-shadow: rgb(51, 88, 255) -1px 1px, rgb(51, 88, 255) -2px 2px,
    rgb(51, 88, 255) -3px 3px, rgb(51, 88, 255) -4px 4px, #f83 -5px 5px;
  color: #060;
  letter-spacing: 1px;
}

.texto-naranja {
  font-weight: 300;
  color: orange;
}

.texto-blanco {
  font-weight: 700;
  color: #fff;
}

.texto-negro {
  color: #000;
}
/* --------------------------- */
/* Posicionamiento del footer  */
/* --------------------------- */
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.281);
  text-align: center;
  font-family: oswald;
  font-size: 25px;
}

/* --------------------------- */
/*Menu de navegacion*/
/* --------------------------- */

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 70;
  width: 100%;
  margin: 0;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.281);
}
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .header img {
    display: none;
  }
  .header .container .btn {
  }
  h2 {
    font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
  .section .contenedor-titulo {
    font-size: 20px;
  }
}

.nav .marca {
  font-family: oswald;
  font-size: 25px;
  font-style: italic;
}
.nav li,
.nav a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: oswald, sans-serif;
  font-size: 19px;
  color: #ffffff;
  transition: 0.5s ease;
}
.nav li.active {
  border-bottom: 2px solid #fff;
}
.menu .li a {
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
}
/* ------------------------- */
/* Estilos para la cabecera */
/* ------------------------- */
.header {
  background: url(../media/fondo11.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.img-redondear {
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.portafolio-item {
  cursor: pointer;
}
.portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}
.portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}
/* ------------------------- */
/* Estilo de los modales     */
/* ------------------------- */

.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
  transition: none;
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  outline: 0;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #e71212;
  opacity: 1;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
/* ------------------------- */
/* Estilos para 4to Primaria */
/* ------------------------- */
.cuarto_prim {
  background: url(../media/fondo1.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
.section .contenedor-titulo {
  text-align: center;
  position: relative;
  z-index: 99;
  color: #fff;
  font-size: 80px;
  text-shadow: 0.1em 0.1em 0.2em black;
}
/* ------------------------- */
/* Estilos para la cabecera */
/* ------------------------- */
.quinto_prim {
  background: url(../media/fondo1.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
/* ------------------------- */
/* Estilos para la cabecera */
/* ------------------------- */
.sexto_prim {
  background: url(../media/fondo1.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
/* ------------------------- */
/* Estilos para la cabecera */
/* ------------------------- */
.primero_sec {
  background: url(../media/fondo10.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
/* ------------------------- */
/* Estilos para la cabecera */
/* ------------------------- */
.segundo_sec {
  background: url(../media/fondo10.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
/* ------------------------- */
/* Estilos para la cabecera */
/* ------------------------- */
.cuarto_sec {
  background: url(../media/fondo10.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
/* ------------------------ */
/* Estilos de hipervinculo  */
/* ------------------------ */
.collapse .card a {
  text-decoration: none;
}

.collapse .card .badge {
  float: right;
}
